<div class="doc-band-top">
  <div class="brand-lockup">
    <div class="brand-name">No Big <span class="accent">Deal</span> Home Solutions</div>
    <div class="brand-tag">Insurance Restoration Specialists · Greater Cincinnati</div>
    <div class="brand-contact">(859) 420-7382 · jd@nobigdealwithjoedeal.com</div>
  </div>
  {{#if docType}}
  <div class="doc-meta">
    <div class="doc-type">{{docType}}</div>
    {{#if docNumber}}<div class="doc-number">{{docNumber}}</div>{{/if}}
  </div>
  {{/if}}
</div>
